.label-container{
	position:fixed;
	bottom:48px;
	right:95px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:#0591b8;
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#0591b8;
	opacity:1;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:30px;
	background-color:#069dc7;
	color:#FFF;
    border-radius:50px;
    cursor: pointer;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.float:hover{
	background-color:#0591b8;		
}

.my-float{
	font-size:24px;
    margin-top:18px;
    color: rgb(255, 247, 247);
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s ease;
  -o-transition: visibility 0s, opacity 0.5s ease;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

